
<c-table-list
  *ngIf="tableView"

  [headers]="headers"
  [data]="data"
  [deleteBtn]="deleteBtn"
  [searchBtn]="searchBtn"
  [deleteAllBtn]="deleteAllBtn"
  [setBtn]="setBtn"
  [paginationBtn]="paginationBtn"
  [setOperate]="setOperate"
  [addBtn]="addBtn"

  (onSort)="sort($event)"
  (onDel)="del($event)"
  (onDelAll)="delAll($event)"
  (onAddSubmit)="submit($event)"
  (onAdd)="add($event)"
  (onSearch)="Search($event)"


>
</c-table-list>


<app-table-add
  [headers]="headers"
  [addEditTitle]="addEditTitle"

  (onAddCancle)="cancle($event)"
  (onSubmit)="submit($event)"

  *ngIf="addView"
>
</app-table-add>
