<div [formGroup]="form" class="form-inline" >

  <label style="width: 140px" for="name" > <span *ngIf="field.required" style="color:red;" >* &nbsp;&nbsp;&nbsp; </span>  {{field.name+":"}}</label>
  <input
    type="text"
    class="form-control addInputValue"
    [class.AddInputTree]="!AddInput"
    [class.treeInput]="treeAdd"
    id="name"
    name="name"
    *ngIf="field.input_type == 0&&field.key!='password'&&field.key!='password_confirmation'"
     [(ngModel)]="field.val"
    [formControlName]="field.key"
    placeholder="请输入"
    onfocus="this.placeholder=''"
    onblur="this.placeholder='请输入'"
    (keyup)="change()"
    (click)="change()"
    pattern={{field.pattern}}
  >
  <input
    type="password"
    class="form-control addInputValue"

    name="name"
    *ngIf="field.key=='password'||field.key=='password_confirmation'"
    [(ngModel)]="field.val"
    [formControlName]="field.key"
    placeholder="请输入"
    onfocus="this.placeholder=''"
    onblur="this.placeholder='请输入'"
    (keyup)="change()"
    (click)="change()"
  >
  <input
          type="text"
          class="form-control addInputValue"
          id="remindList"
          name="remindList"
          *ngIf="field.input_type == 3"
          [(ngModel)]="field.val"
          [formControlName]="field.key"
          placeholder="请输入"
          autocomplete="off"
          onfocus="this.placeholder=''"
          onblur="this.placeholder='请输入'"
          (keyup)="change()"
          (change)="change()"
          list="list"

  >
    <datalist id="list" >
      <option *ngFor="let val of remind;" value={{val}}>{{val}}</option>
    </datalist>

  <select class="form-control addInputValue"
          *ngIf="field.input_type==1" name={{field.key}}
          [formControlName]="field.key"
          [(ngModel)]="field.val"
  >

    <option *ngFor="let val of field.select_val;" value={{val}}>{{val}}</option>
  </select>

  <input [dpDayPicker]="datePickerConfig"
         name={{field.key}}
         [theme]="'dp-material'"
         [(ngModel)]="field.val"
         [formControlName]="field.key"
         [mode]="'day'"
         *ngIf="field.input_type==2"
         class="form-control dateInput dateInputStyle addInputValue "
         placeholder="请选择日期"/>


  <div class="" *ngIf="!isValid  && isDirty ">
     <div *ngIf="field.required==true&&field.val==''" class="alert-danger valid " [class.TreeValidExample]="treeAdd" >{{field.name+'是必填项！'}}</div>
    <div *ngIf="field.val!=''" class="alert-danger validExample " [class.TreeValidExample]="treeAdd">请输入正确格式{{field.valid_example}}</div>
  </div>
</div>

















<!--<div-->
<!--[hidden]="name.valid || name.pristine"-->
<!--class="alert alert-danger">-->
<!--Name is required-->
<!--</div>-->


<!--<select class="form-control addInputValue" *ngIf="word.inputType==1" name={{word.key}}-->
<!--[(ngModel)]="word.val">-->
<!--<option *ngFor="let val of word.selectVal;" value={{val}}>{{val}}</option>-->
<!--</select>-->

<!--<input [dpDayPicker]="datePickerConfig" name={{word.key}} [theme]="'dp-material'" [mode]="'day'"-->
<!--[(ngModel)]="word.val"-->
<!--*ngIf="word.inputType==2" class="form-control dateInput dateInputStyle addInputValue "-->
<!--placeholder="请选择日期"/>-->
<!--{{word.validExample}}{{checkValue}}-->
<!--<div *ngIf="checkValue  " class=" alert-danger validExample " >-->
<!--2345678  {{word.validExample}}{{checkValue}}-->
<!--</div>-->
<!--<div  class=" alert-danger validExample " *ngIf="!required && word.val.pattern(word.pattern) " >{{word.validExample}}</div>-->
