.addInputValue {
  width: 380px;
}

.validExample {
  height: 33px;
  margin-left: 10px;
  width: 285px;
  padding-top: 7px;
  padding-left: 10px;
}
.valid {
  height: 33px;
  margin-left: 20px;
  width: 170px;
  padding-top: 7px;
  padding-left: 10px;
}
.AddInputTree{
  width: 200px;

}
.TreeValidExample{
  height: 33px;
  margin-left: 5px;
  width: 250px;
  padding-top: 7px;
  padding-left: 10px;
}
.treeInput{
  width:300px;
}

@media screen and (max-width:1300px){
  .TreeValidExample{
    height: 33px;
    margin-left: 5px;
    width: 200px;
    padding-top: 7px;
    padding-left: 10px;
  }
  .treeInput{
    width:150px;
  }
}
