<div [formGroup]="form" class="form-inline" >

  <label style="width: 100px" for="name">{{field.name+":"}}</label>
  <input
    type="text"
    class="form-control addInputValue"
    id="name"
    name="name"
    *ngIf="field.inputType == 0"
    [(ngModel)]="field.val"

    [formControlName]="field.key"
    placeholder="请输入"
    onfocus="this.placeholder=''"
    (blur)="onBlur()"
  >


  <select class="form-control addInputValue" *ngIf="field.inputType==1" name={{field.key}}
          [(ngModel)]="field.val" [formControlName]="field.key">
    <option *ngFor="let val of field.selectVal;" value={{val}}>{{val}}</option>
  </select>


  <input [dpDayPicker]="datePickerConfig" name={{field.key}} [theme]="'dp-material'" [mode]="'day'"
         [(ngModel)]="field.val"
         *ngIf="field.inputType==2" class="form-control dateInput dateInputStyle addInputValue "
         placeholder="请选择日期"/>
  <div class="alert-danger invalidInfo " *ngIf="!isValid">{{field.invalidInfo}}</div>
</div>

















<!--<div-->
<!--[hidden]="name.valid || name.pristine"-->
<!--class="alert alert-danger">-->
<!--Name is required-->
<!--</div>-->


<!--<select class="form-control addInputValue" *ngIf="word.inputType==1" name={{word.key}}-->
<!--[(ngModel)]="word.val">-->
<!--<option *ngFor="let val of word.selectVal;" value={{val}}>{{val}}</option>-->
<!--</select>-->

<!--<input [dpDayPicker]="datePickerConfig" name={{word.key}} [theme]="'dp-material'" [mode]="'day'"-->
<!--[(ngModel)]="word.val"-->
<!--*ngIf="word.inputType==2" class="form-control dateInput dateInputStyle addInputValue "-->
<!--placeholder="请选择日期"/>-->
<!--{{word.invalidInfo}}{{checkValue}}-->
<!--<div *ngIf="checkValue  " class=" alert-danger invalidInfo " >-->
<!--2345678  {{word.invalidInfo}}{{checkValue}}-->
<!--</div>-->
<!--<div  class=" alert-danger invalidInfo " *ngIf="!required && word.val.pattern(word.pattern) " >{{word.invalidInfo}}</div>-->
