.addInputValue {
  width: 400px;
}

.validExample {
  height: 33px;
  margin-left: 20px;
  width: 400px;
  padding-top: 7px;
  padding-left: 10px;
}
.AddInputTree{
  width: 200px;

}
.TreeValidExample{
  height: 33px;
  margin-left: 20px;
  width: 300px;
  padding-top: 7px;
  padding-left: 10px;
}
.treeInput{
  width:250px;
}
