.demo-chart {
    height: 400px;
}

.dateInput {
  width:130px;
  display:inline;

}

.chartFileBtns button{
    margin:0 3px;
}

.dateInputStyle {
  margin-left:20px;
}
button:focus {
    background-color: #f0bd0a;
}
h4 {
    font-family: KaiTi , SimSun , Microsoft Yahei , 微软雅黑, Arial, sans-serif;
}