<div class="chartStyle">

  <div>
    <button class="btn btn-success btn-md Btns" (click)="chartView()">返回</button>
      <input [(ngModel)]="selectedDateStart" [dpDayPicker]="datePickerConfig" [theme]="'dp-material'" [mode]="'day'"
             class="form-control dateInput dateInputStyle " placeholder="开始时间" />&nbsp;&nbsp;-&nbsp;&nbsp;
      <input [(ngModel)]="selectedDateEnd" [dpDayPicker]="datePickerConfig" [theme]="'dp-material'" [mode]="'day'"
             class="form-control dateInput" placeholder="结束时间" />
      <button class="btn btn-primary showBtn" (click)="show()">显示</button>
  </div>
  <div class="text-center text-primary text">
    <h4>用户：&nbsp;{{userName}}</h4>
  </div>
  <div echarts *ngIf="!chart_none" [options]="chartOption"  (chartClick) ="chartClick($event)" class="demo-chart" id="myChart"></div>
  <h1 *ngIf="chart_none" class="text-center chart_none">暂无数据</h1>
  <div class="text-center">
    <button class=" Btns" [class.selected]="this.flag==1" [class.button_disabled]="chart_none" (click)="indicator1()" [disabled]="chart_none">指标1
    </button>
    <button class=" Btns" [class.selected]="this.flag==2" [class.button_disabled]="chart_none" (click)="indicator2()" [disabled]="chart_none">指标2
    </button>
    <button class=" Btns" [class.selected]="this.flag==3" [class.button_disabled]="chart_none" (click)="indicator3()" [disabled]="chart_none">指标3
    </button>
    <button class=" Btns" [class.selected]="this.flag==4" [class.button_disabled]="chart_none" (click)="indicator4()" [disabled]="chart_none">指标4
    </button>
    <button class=" Btns" [class.selected]="this.flag==5" [class.button_disabled]="chart_none" (click)="indicator5()" [disabled]="chart_none">指标5
    </button>
    <button class=" Btns" [class.selected]="this.flag==6" [class.button_disabled]="chart_none" (click)="indicator6()" [disabled]="chart_none">指标6
    </button>
    <button class="btn btn-danger btn-md clearBtn" [class.button_disabled]="chart_none" (click)="clear()" [disabled]="chart_none">清空本次数据</button>
  </div>
  <div class="details-panel" *ngIf="isDetails">
    <hr>
    <h3 >心电数据详情</h3>
    <label class="details_time">检测时间：{{this.clickTime}}</label>
    <h2 *ngIf="details_none" class="text-center">暂无数据</h2>
    <div *ngIf="!details_none">
    <label class="details" *ngFor="let data of chartDetailsData" title={{data}}>{{data[0]}}：&nbsp;{{data[1]}}
    </label>
    </div>
  </div>
</div>
