<c-table-list
  *ngIf="!editor"
  (onSort)="onSort($event)"
  (onDel)="onDel($event)"
  (onDelAll)="onDelAll($event)"
  (onEdit)="onEdit($event)"
  (onAdd)="onAdd($event)"
  (onSearch)="onSearch($event)"

  [headers]="headers"
  [data]="data"
  [addBtn]="addBtn"
  [deleteBtn]="deleteBtn"
  [editBtn]="editBtn"
  [searchBtn]="searchBtn"
  [deleteAllBtn]="deleteAllBtn"
  [setBtn]="setBtn"
  [paginationBtn]="paginationBtn"
 [setOperate]="setOperate"
>
</c-table-list>
<c-editor-h5 *ngIf="editor"   (onEditBack)="onEditBack($event)"
 >
</c-editor-h5>
