.container {
    height: 100%;
}
.tittle {
    margin-bottom: 15px;
    font-size: 22px;
    border-left: 3px solid #10a2e9;
    padding-left:8px;
    font-weight: bold;
    color:#555555;
    font-family: KaiTi , SimSun , Microsoft Yahei , 微软雅黑, Arial, sans-serif;
}
.content {
    height: 460px;
    overflow-y: auto
}
.ztree-align {
    margin-left: 40%;
}
.footer {
   margin-left: 36%;
}
.footer button{
    width: 120px;
}

