.container {
    min-height:100%;
    position: relative;
    height: 100%;

}
.ztree-tittle {
    margin-bottom: 15px;
    font-size: 25px;
    border-left: 3px solid ;
    padding-left:8px;
    font-weight: bold;
    color:#00abff;
    font-family: KaiTi , SimSun , Microsoft Yahei , 微软雅黑, Arial, sans-serif;
}
.p {

}
.ztree-align {
    margin-top: 2%;
    margin-left: 40%;
    padding-bottom: 30px;
}
.footer {
    text-align: center;
    margin-top: -32px; /* Footer 高度的负值 */
    bottom:0;
    /*float:right;*/
}
.footer button{
    width: 120px;
}

