<c-table-list
  [headers]="headers"
  [data]="data"
  [deleteBtn]="deleteBtn"
  (onDetails)="onDetails()"
  (onSort)="onSort($event)"
  (onDel)="onDel($event)"
  (onDelAll)="onDelAll($event)"
  [searchBtn]="searchBtn"
  [deleteAllBtn]="deleteAllBtn"
  [setBtn]="setBtn"
  [addBtn]="addBtn"
  [editBtn]="editBtn"
  [detailsBtn]="detailsBtn"
  [setOperate]="setOperate"
  *ngIf="subUsers"
>
</c-table-list>

<c-table-list
        (onSort)="onSubSort($event)"
        (onDel)="onSubDel($event)"
        (onDelAll)="onSubDelAll($event)"
  [headers]="subUserHeaders"
  [data]="subUserData"
  [deleteBtn]="deleteBtn"
  [editBtn]="editBtn"
  [searchBtn]="searchBtn"
  [backBtn]="backBtn"
  [deleteAllBtn]="deleteAllBtn"
  [setBtn]="setBtn"
  [addBtn]="addBtn"
  (onBack)="onBack()"
  *ngIf="!subUsers"
>
</c-table-list>
