<c-table-list
  *ngIf="tableView"
  (onSort)="sort($event)"
  (onSearch)="search($event)"
  (onSet)="set($event)"

  (onDel)="del($event)"
  (onDelAll)="delAll($event)"
  (onAdd)="add($event)"
  [headers]="headers"
  [data]="data"
  [addBtn]="addBtn"
  [deleteBtn]="deleteBtn"
  [editBtn]="editBtn"
  [deleteAllBtn]="deleteAllBtn"
  [setOperate]="setOperate"
  [searchBtn]="searchBtn"
  [setBtn]="setBtn"
  [paginationBtn]="paginationBtn"
  [pagination]="pagination"
  (onPaginationChange)="paginationChange($event)"
>
</c-table-list>
<app-table-add
        [headers]="headerAdd"
        [addEditTitle]="addEditTitle"
        (onAddCancel)="cancel($event)"
        (onSubmit)="submit($event)"
        (onSendRemind)="getSendRemind($event)"
        *ngIf="addView"
>
</app-table-add>
