<c-table-list
  *ngIf="tableView"
  (onSort)="onSort($event)"
  (onDel)="onDel($event)"
  (onDelAll)="onDelAll($event)"
  (onAdd)="add($event)"
  [headers]="headers"
  [data]="data"
  [addBtn]="addBtn"
  [deleteBtn]="deleteBtn"
  [editBtn]="editBtn"
  [deleteAllBtn]="deleteAllBtn"
  [setOperate]="setOperate"
>
</c-table-list>
<app-table-add
        [headers]="headerAdd"
        [addEditTitle]="addEditTitle"
        (onAddCancle)="cancle($event)"
        (onSubmit)="submit($event)"
        *ngIf="addView"
>
</app-table-add>