<c-table-list
  *ngIf="!showChartView"
  (onChart)="onChart($event)"
  (onSort)="onSort($event)"
  (onSearch)="onSearch($event)"
  (onUpload)="onUpload($event)"

  [headers]="headers"
  [data]="data"
  [chartBtn]="chartBtn"
  [deleteBtn]="deleteBtn"
  [downloadBtn]="downloadBtn"
  [searchBtn]="searchBtn"
  [deleteAllBtn]="deleteAllBtn"
  [setBtn]="setBtn"
  [paginationBtn]="paginationBtn"
  [setOperate]="setOperate"
>
</c-table-list>
<app-ecgd-chart *ngIf="showChartView" [dataChart1]="dataChart1" [userInfoChart]="userInfoChart" (onChart)="onChart($event)" ></app-ecgd-chart>
