<c-table-list
  *ngIf="tableView"

  (onDel)="del($event)"
  (onDelAll)="del($event)"
  (onEditZTree)="editZTree($event)"
  (onAdd)="add($event)"

  (onSort)="sort($event)"
  (onSearch)="search($event)"
  (onSet)="set($event)"

  [headers]="headers"
  [data]="data"
  [addBtn]="addBtn"
  [deleteBtn]="deleteBtn"
  [deleteAllBtn]="deleteAllBtn"
  [editZTreeBtn]="editZTreeBtn"
  [setOperate]="setOperate"
  [searchBtn]="searchBtn"
  [setBtn]="setBtn"
  [paginationBtn]="paginationBtn"
  [pagination]="pagination"
  (onPaginationChange)="paginationChange($event)"
>
</c-table-list>

<div style="background-color: white">
    <app-table-add
            [headers]="headerAdd"
            [addEditTitle]="addEditTitle"
            (onAddCancel)="cancel($event)"
            (onSubmit)="submit($event)"
            [isShow]="isShow"
            (onSendFormValue)="sendFormValue($event)"
            *ngIf="addView"
    >
    </app-table-add>
    <app-admin-ztree
            *ngIf="editView"
            [isShow]="isShow"
            (onZTreeSubmit)="zTreeSubmit($event)"
            (onBack)="back($event)"
            [nodes]="nodes"
    >
    </app-admin-ztree>
</div>
