<c-table-list
  *ngIf="tableView"

  (onDel)="del($event)"
  (onDelAll)="delAll($event)"
  (onEditZTree)="edit($event)"
  (onAdd)="add($event)"

  (onSort)="sort($event)"
  (onSearch)="search($event)"
  (onSet)="set($event)"

  [headers]="headers"
  [data]="data"
  [addBtn]="addBtn"
  [deleteBtn]="deleteBtn"
  [deleteAllBtn]="deleteAllBtn"
  [editZTreeBtn]="editZTreeBtn"
  [setOperate]="setOperate"
  [searchBtn]="searchBtn"
  [setBtn]="setBtn"
  [paginationBtn]="paginationBtn"
  [pagination]="pagination"
  (onPaginationChange)="paginationChange($event)"
>
</c-table-list>

<div style="background-color: white;display: flex;flex-direction: row">
    <div class="tableAdd">
        <app-table-add
                [headers]="headerAdd"
                [addEditTitle]="addEditTitle"
                (onAddCancel)="cancel($event)"
                (onSubmit)="submit($event)"
                [isShow]="isShow"
                [isShowTittle]="true"
                (onSendFormValue)="sendFormValue($event)"
                *ngIf="addView"
        >
        </app-table-add>
    </div>
    <div class="adminZtree">
        <app-admin-ztree
                *ngIf="addTreeView"
                [isShow]="isShow"
                (onZTreeSubmit)="addSubmit($event)"
                (onBack)="back($event)"
                [nodes]="nodes"
        >
        </app-admin-ztree>
        <app-admin-ztree
                *ngIf="editTreeView"
                [isShow]="isShow"
                (onZTreeSubmit)="editSubmit($event)"
                (onBack)="back($event)"
                [nodes]="updateNodes"
        >
        </app-admin-ztree>
    </div>
</div>
