

<c-table-list
  *ngIf="!showChartView"
  (onChart)="onChart($event)"
  (onSort)="onSort($event)"
  (onDel)="onDel($event)"
  (onDelAll)="onDelAll($event)"
  (onSearch)="onSearch($event)"
  [headers]="headers"
  [data]="data"
  [chartBtn]="chartBtn"
  [deleteBtn]="deleteBtn"
  [searchBtn]="searchBtn"
  [deleteAllBtn]="deleteAllBtn"
  [setBtn]="setBtn"
  [paginationBtn]="paginationBtn"
  [setOperate]="setOperate"
>
</c-table-list>
<app-hhr-chart *ngIf="showChartView" [dataChart1]="dataChart1" [userName]="userName" (onChart)="onChart($event)" ></app-hhr-chart>
