<c-table-list
  *ngIf="!editor"
  (onSort)="sort($event)"
  (onDel)="del($event)"
  (onDelAll)="del($event)"
  (onEditH5)="editH5($event)"
  (onAdd)="add($event)"
  (onSearch)="search($event)"

  [headers]="headers"
  [data]="data"
  [addBtn]="addBtn"
  [deleteBtn]="deleteBtn"
  [editH5Btn]="editH5Btn"
  [searchBtn]="searchBtn"
  [deleteAllBtn]="deleteAllBtn"
  [setBtn]="setBtn"
  [setOperate]="setOperate"
  [paginationBtn]="paginationBtn"
  [pagination]="pagination"
  (onPaginationChange)="paginationChange($event)"
>
</c-table-list>
<c-editor-h5 *ngIf="editor"
             [dataEditor]="dataEditor"
             (onEditBack)="onEditBack($event)"
             (onPost)="onPost($event)"
             [H5Type]="H5Type"
             [isSelectShow]="isSelectShow"
             (onSave)="save($event)"
>
</c-editor-h5>
