<c-table-list
        *ngIf="!editor"
        (onSort)="sort($event)"
        (onDel)="del($event)"
        (onDelAll)="delAll($event)"
        (onEditH5)="editH5($event)"
        (onAdd)="add($event)"
        (onSearch)="search($event)"
        (onSet)="set($event)"
        (onAddService)="addService($event)"

        [addServiceBtn]="addServiceBtn"

        [headers]="headers"
        [data]="data"
        [addBtn]="addBtn"
        [deleteBtn]="deleteBtn"
        [editH5Btn]="editH5Btn"
        [searchBtn]="searchBtn"
        [deleteAllBtn]="deleteAllBtn"
        [setBtn]="setBtn"
        [setOperate]="setOperate"
        [paginationBtn]="paginationBtn"
        [pagination]="pagination"
        (onPaginationChange)="paginationChange($event)"
>
</c-table-list>


<c-editor-h5 *ngIf="editor"
             [dataEditor]="dataEditor"

             [H5Type]="H5Type"
             [HTML5Content]="HTML5Content"
             (onEditBack)="onEditBack($event)"
             [isSelectShow]="isSelectShow"
             (onSave)="save($event)"

>
</c-editor-h5>

<div class="preview-layer" [hidden]="!phoneShow" style=" overflow: auto" (click)="phoneShow=false">
    <div class="preview-md"></div>
    <div class="preview-phone">
        <div class="content">
            <div class="banner" id="banner"></div>
            <div class="suggestion">
              <div class="suggestion-img" id="suggestion1"></div>
              <div class="suggestion-img" id="suggestion2"></div>
              <div class="suggestion-img" id="suggestion3"></div>
            </div>
            <div class="products">
               <div class="product">
                 <div class="product-img" id="product"></div>
                 <div class="product-desc">
                   <label class="description"></label>
                   <label class="price"></label>
                 </div>
               </div>
              <hr>
            </div>
        </div>
    </div>
</div>


