
<div class=" tableAdd">
  <h2 class="tittle " *ngIf="isShowTittle">{{addEditTitle}}</h2>
  <div class="">

    <form class="addForm " [formGroup]="form" >
      <div class=" form-inline formCenter " *ngFor="let header of headers">
      <app-input [field]="header" [form]="form" (onSendFormValue)="SendFormValue($event)" (onSendId)="sendId($event)" *ngIf="header.show"></app-input>

      </div>
      <div class="form-button " *ngIf="isShow">
        <button type="button" class="btn btn-success"  (click)="submit()" [disabled]="!form.valid">提交</button>
        <button type="button" class="btn btn-default" (click)="addCancel()">取消</button>
      </div>
    </form>
  </div>
</div>


























<!--<div class="tableAdd">-->
<!--<form class=" addForm " >-->

<!--<div class=" addInfo " *ngFor="let header of headers">-->
<!--<div  class="addName">-->
<!--<div >{{header.name+":"}}</div>-->

<!--</div>-->
<!--<div class="addInput">-->
<!--&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="text" class="has-success addInputValue"-->
<!--name={{header.key}} [(ngModel)]="header.key" required  placeholder="请输入">-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-button ">-->
<!--<div class="col-sm-offset-2 col-sm-10">-->
<!--<button class="btn btn-success btn-md" (click)="submit()">提交</button>-->
<!--<button class="btn btn-info btn-md" (click)="Cancel()">取消</button>-->
<!--</div>-->
<!--</div>-->

<!--</form>-->
<!--</div>-->
