
<div class=" tableAdd">
  <h2 class="tittle " *ngIf="isShowTittle">{{addEditTitle}}</h2>
  <div class="">

    <form class="addForm " [formGroup]="form" [class.treeAddForm]="treeAdd" >
      <div class=" form-inline formCenter" [class.treeAdd]="treeAdd"  *ngFor="let header of headers" [hidden]="header.key=='role_id'||header.key=='id'||header.name=='账户角色'" >
      <app-input [field]="header"  [treeAdd]="treeAdd" [AddInput]="isShow" [form]="form" (onSendFormValue)="SendFormValue($event)"  (onSendRemind)="sendRemind($event)"></app-input>

      </div>
      <div class="form-button " [class.footerBtn]="treeAdd" >
        <button type="button" class="btn btn-success"  (click)="submit()" [disabled]="!form.valid">提交</button>
        <button type="button" class="btn btn-default" (click)="addCancel()">取消</button>
      </div>
    </form>
  </div>
</div>


























<!--<div class="tableAdd">-->
<!--<form class=" addForm " >-->

<!--<div class=" addInfo " *ngFor="let header of headers">-->
<!--<div  class="addName">-->
<!--<div >{{header.name+":"}}</div>-->

<!--</div>-->
<!--<div class="addInput">-->
<!--&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="text" class="has-success addInputValue"-->
<!--name={{header.key}} [(ngModel)]="header.key" required  placeholder="请输入">-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-button ">-->
<!--<div class="col-sm-offset-2 col-sm-10">-->
<!--<button class="btn btn-success btn-md" (click)="submit()">提交</button>-->
<!--<button class="btn btn-info btn-md" (click)="Cancel()">取消</button>-->
<!--</div>-->
<!--</div>-->

<!--</form>-->
<!--</div>-->
