
<c-table-list
  *ngIf="tableView"

  [headers]="headers"
  (onSort)="sort($event)"
  (onDel)="del($event)"
  (onDelAll)="delAll($event)"
  (onEdit)="edit($event)"
  (onAdd)="add($event)"

  [data]="data"
  [addBtn]="addBtn"
  [deleteBtn]="deleteBtn"
  [editBtn]="editBtn"
  [deleteAllBtn]="deleteAllBtn"
  [setOperate]="setOperate"
>
</c-table-list>


<app-table-add
  [headers]="headerAdd"
  (onAddCancle)="cancle($event)"
  (onSubmit)="Submit($event)"

  *ngIf="addView"
>
</app-table-add>

<app-table-edit
  [headers]="headerEdit"
  [editId]="editId"
  [data]="data"
  (onEditCancle)="cancle($event)"
  (onSubmit)="Submit($event)"

  *ngIf="editView"
>
</app-table-edit>
