<c-table-list
  *ngIf="tableView"

  (onSort)="sort($event)"
  (onAdd)="add($event)"
  (onSearch)="search($event)"
  (onSet)="set($event)"
  [headers]="headers"
  [data]="data"
  [editBtn]="editBtn"
  [setBtn]="setBtn"
  [setOperate]="setOperate"
  [searchBtn]="searchBtn"
  [paginationBtn]="paginationBtn"
  [pagination]="pagination"
  (onPaginationChange)="paginationChange($event)"
>
</c-table-list>
<app-table-add
  *ngIf="addView"

  [headers]="headerAdd"
  [addEditTitle]="addEditTitle"

  (onAddCancel)="cancel($event)"
  (onSubmit)="submit($event)"


>
</app-table-add>

