<c-table-list
  *ngIf="tableView"

  (onSort)="sort($event)"
  (onDel)="del($event)"
  (onDelAll)="delAll($event)"
  (onAdd)="add($event)"

  [headers]="headers"
  [data]="data"
  [addBtn]="addBtn"
  [deleteBtn]="deleteBtn"
  [editBtn]="editBtn"
  [deleteAllBtn]="deleteAllBtn"
  [setOperate]="setOperate"
  [paginationBtn]="paginationBtn"
>
</c-table-list>
<app-table-add
  *ngIf="addView"

  [headers]="headerAdd"
  [addEditTitle]="addEditTitle"

  (onAddCancle)="cancle($event)"
  (onSubmit)="submit($event)"


>
</app-table-add>

